In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Load the Size History by County csv to a DataFrame
size_history_data_path = "../raw_data/Electric_Vehicle_Population_Size_History_By_County.csv"
size_history_data = pd.read_csv(size_history_data_path)

In [4]:
# Preview data
size_history_data.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,January 31 2017,NaN,NaN,Passenger,9,4,13,2578,2591,0.50
1,January 31 2017,Juneau,AK,Passenger,0,1,1,49,50,2.00
2,January 31 2017,Dale,AL,Passenger,0,1,1,71,72,1.39
3,January 31 2017,Russell,AL,Passenger,1,0,1,53,54,1.85
4,January 31 2017,Maricopa,AZ,Passenger,2,0,2,1774,1776,0.11

In [6]:
# Drop NaN values
size_history_data_cleaned = size_history_data.dropna()
size_history_data_cleaned.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
1,January 31 2017,Juneau,AK,Passenger,0,1,1,49,50,2.00
2,January 31 2017,Dale,AL,Passenger,0,1,1,71,72,1.39
3,January 31 2017,Russell,AL,Passenger,1,0,1,53,54,1.85
4,January 31 2017,Maricopa,AZ,Passenger,2,0,2,1774,1776,0.11
5,January 31 2017,Pima,AZ,Passenger,0,1,1,439,440,0.23

In [7]:
# Check unique values for counties to ensure all data is useable
size_history_data_cleaned["County"].unique()

array(['Juneau', 'Dale', 'Russell', 'Maricopa', 'Pima', 'Pinal',
       'Yavapai', 'Alameda', 'Contra Costa', 'Los Angeles', 'Marin',
       'Monterey', 'Orange', 'Riverside', 'San Diego', 'San Mateo',
       'Santa Barbara', 'Santa Clara', 'Tulare', 'Ventura', 'El Paso',
       'Larimer', 'District Of Columbia', 'Collier', 'Duval', 'Manatee',
       'Marion', 'Miami-Dade', 'Okaloosa', 'Polk', 'Saint Lucie',
       'Sumter', 'Volusia', 'Cobb', 'Dekalb', 'Fulton', 'Gwinnett',
       'Honolulu', 'Maui', 'Canyon', 'Latah', 'Madison', 'Lake',
       'Hamilton', 'Riley', 'Hardin', 'Orleans', 'Anne Arundel',
       'Charles', 'Howard', 'Montgomery', 'Saint Marys', 'Wayne',
       'Dakota', 'Jackson', 'Cascade', 'Gallatin', 'Glacier',
       'Cumberland', 'Guilford', 'Harnett', 'Moore', 'Santa Fe', 'Clark',
       'Jefferson', 'Lewis', 'Monroe', 'Saratoga', 'Franklin', 'Oklahoma',
       'Clackamas', 'Deschutes', 'Hood River', 'Lane', 'Multnomah',
       'Allegheny', 'Northampton', 'Shelby', 'Bexar', 'Hidalgo',
       'Tarrant', 'Travis', 'Salt Lake', 'Utah', 'Alexandria City',
       'Arlington', 'Fairfax', 'Fairfax City', 'Loudoun', 'Manassas City',
       'Norfolk City', 'Prince William', 'Virginia Beach City', 'Adams',
       'Asotin', 'Benton', 'Chelan', 'Clallam', 'Columbia', 'Cowlitz',
       'Douglas', 'Ferry', 'Garfield', 'Grant', 'Grays Harbor', 'Island',
       'King', 'Kitsap', 'Kittitas', 'Klickitat', 'Lincoln', 'Mason',
       'Okanogan', 'Pacific', 'Pend Oreille', 'Pierce', 'San Juan',
       'Skagit', 'Skamania', 'Snohomish', 'Spokane', 'Stevens',
       'Thurston', 'Wahkiakum', 'Walla Walla', 'Whatcom', 'Whitman',
       'Yakima', 'Brown', 'Dane', 'Ozaukee', 'Missoula', 'Nassau',
       'Nueces', 'Dallas', 'Charlottesville City', 'Palm Beach',
       'Santa Rosa', 'Kent', 'Knox', 'New Castle', 'Camden', 'Twin Falls',
       'Ramsey', 'Flathead', 'Tuolumne', 'Lumpkin', 'Sangamon', 'Washoe',
       'Frederick', 'Saint Clair', 'Clay', 'Liberty', 'Brevard',
       'Prince George', 'Ada', 'Dupage', 'Cook', 'Broward', 'Caddo',
       'Washtenaw', 'San Francisco', 'Kootenai', 'Tulsa', 'Klamath',
       'Beaufort', 'Muscogee', 'Washington', 'Cochise', 'Bryan',
       'Hennepin', 'Carson City', 'Fresno', 'Denver', 'Oldham',
       'Mecklenburg', 'Guadalupe', 'Santa Cruz', 'Shasta', 'Valencia',
       'Albemarle', 'Bucks', 'Goochland', 'Saint Louis', 'Harris', 'Kern',
       'Chaves', 'Vigo', 'Pinellas', 'Saginaw', 'Westchester', 'Bell',
       'Boulder', 'Sarasota', 'Putnam', 'Fairbanks North Star', 'Osceola',
       'Boone', 'Harrison', 'Otero', 'Powhatan', 'Jones', 'Stafford',
       'Dorchester', 'Davidson', 'Chesapeake City', 'Bay', 'Suffolk City',
       'Placer', 'Tipton', 'Denton', 'Williams', 'Saint Louis City',
       'Erie', 'Bartow', 'Bradley', 'Charleston', 'Carroll', 'El Dorado',
       'Leavenworth', 'Plaquemines', 'Platte', 'Sacramento', 'Sarpy',
       'Wichita', 'Yamhill', 'Hillsborough', 'Wilson', 'Wake',
       'Rutherford', 'Kings', 'Baltimore', 'Bernalillo', 'Coryell'],
      dtype=object)

In [9]:
# Check unique values for states to ensure all data is useable
size_history_data_cleaned["State"].unique()

array(['AK', 'AL', 'AZ', 'CA', 'CO', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL',
       'IN', 'KS', 'KY', 'LA', 'MD', 'MI', 'MN', 'MO', 'MT', 'NC', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'TN', 'TX', 'UT', 'VA', 'WA',
       'WI', 'DE', 'SC', 'NE', 'MS', 'ND'], dtype=object)

In [10]:
# Value counts for counties
size_history_data_cleaned["County"].value_counts()

Montgomery    208
Clark         174
Jefferson     167
Columbia      167
Douglas       156
             ...
Kings           1
Brown           1
Hood River      1
Collier         1
Yavapai         1
Name: County, Length: 234, dtype: int64

In [11]:
# Value counts for states
size_history_data_cleaned["State"].value_counts()

WA    4524
CA     885
FL     638
VA     611
GA     451
TX     424
MD     336
OR     271
IL     215
NC     213
CO     196
MT     184
ID     178
TN     177
PA     166
AZ     157
NY     152
NV     151
MI     136
IN     132
NM     119
MN     118
HI     112
DE     108
MO     103
OK      97
AL      96
LA      78
KS      72
AK      70
OH      66
WI      66
KY      65
DC      58
NE      52
SC      48
UT      40
MS      28
ND      21
Name: State, dtype: int64

In [ ]:
# Export cleaned csv file to cleaned_data folder
size_history_data_cleaned.to_csv("../cleaned_data/Electric_Vehicle_Population_Size_History_By_County_Cleaned.csv",index=False, header=True)