In [2]:
#dependencies 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [10]:
clean_data_path = "../cleaned_data/Electric_Vehicle_Population_Size_History_By_County_Cleaned.csv"

In [11]:
clean_full_data = pd.read_csv(clean_data_path)

In [12]:
clean_full_data.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,January 31 2017,Juneau,AK,Passenger,0,1,1,49,50,2.00
1,January 31 2017,Dale,AL,Passenger,0,1,1,71,72,1.39
2,January 31 2017,Russell,AL,Passenger,1,0,1,53,54,1.85
3,January 31 2017,Maricopa,AZ,Passenger,2,0,2,1774,1776,0.11
4,January 31 2017,Pima,AZ,Passenger,0,1,1,439,440,0.23

In [17]:
#Grouping by years
County_data_year = clean_full_data.groupby(clean_full_data.date.dt.year)
County_data_year.head()

AttributeError: 'DataFrame' object has no attribute 'date'